@import "../abstract/variables.scss";
@import "../components/subscribe.scss";
.pricing-banner {
  padding: 47px 0px 0px;
  background-color: $backgroundColor;
  .pricing-banner__label {
    margin-bottom: -25px;
    .pricing__label {
      font-family: Inter;
      font-size: 16px;
      font-weight: bold;
      line-height: 3.75;
      text-align: $start;
    }
  }

  .toggler-btns {
    margin: 0 auto;
    margin-top: 25px;
    padding: 4px;
    border-radius: 6px;
    background-color: #fff;
    padding: 10px;
    width: 280px;
    height: 100%;
    position: relative;
    .btn__toggle-tresta {
      padding: 10.3px 28.5px 12.7px;
      border-radius: 4px;
      background-color: $lightBlueColor;
      font-family: Inter;
      font-weight: 600;
      line-height: 1.31;
      text-align: center;
      color: #fff;
      margin-right: 10px;
    }
    .btn__toggle-heldor {
      padding: 10.3px 36.5px 12.7px;
      border-radius: 4px;
      background-color: #fff;
      font-family: Inter;
      font-weight: 600;
      line-height: 1.31;
      text-align: center;
      color: $blueColor;
    }
    .animation-div {
      display: none;
      padding: 10.3px 36.5px 12.7px;
      border-radius: 4px;
      background-color: $lightBlueColor;
      width: 120px;
      height: 44px;
      opacity: 0.5;
      position: absolute;
    }
  }
}

.pricing-cards {
  background-color: $backgroundColor;
  padding-bottom: 115px;
  .pricing-card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .pricing-card {
      height: 100%;
      margin-bottom: 30px;
      width: $card;
      padding: 0 34.5px 48px 36px;
      border-radius: 6px;
      border: solid 1px $greyColor;
      background-color: #fff;
      .pricing__header {
        @include pricing__header;
      }
      .pricing__header::before {
        content: "$";
        font-family: Georgia;
        font-size: 24px;
        font-weight: bold;
        line-height: 2.5;
        text-align: $start;
        color: $blueColor;
        padding-right: 10px;
      }
      .pricing__description {
        font-family: Inter;
        line-height: 3.75;
        text-align: $start;
        color: $greyColor;
        font-weight: bold;
        width: fit-content;
        margin: 0 auto;
      }
      .benefits-list {
        .benefits-list__benefit {
          font-family: Inter;
          font-size: 16px;
          line-height: 3.75;
          text-align: $start;
          color: $blueColor;
        }
      }
      .device-type {
        width: 144px;
        height: 36px;
        padding: 7px 26px 8px;
        background-color: $blueColor;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 0 auto;
      }
    }
  }
}
